body{
    background-image: url(/pexels-kai-pilger-1341279.jpg);
  
    background-position: center;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;

}
html, body{
width: 100%;
height: 100vh;
}
.earth{
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    transform: translateY(20px)translate() ;
    pointer-events: none;

}
.earth img{
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    animation: spin 400s linear infinite;
    pointer-events: none;

}
.moon-container{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);

}
.moon{
    animation: spin 150s linear infinite;
    background: none;
    height: 60px;
    pointer-events: none;
    transform-origin: 25px;
    width: 60px;
}

.moon img{
    height: 60px;
    transform: translateX(-160px) translateY(-160px);
    width: 60px;
}
.earth img,
.moon img{
    border-radius: 50%;
    box-shadow: 0 0 12em 1em rgba(110, 140, 200, .6);
}

.sun-container{
 
    width: 300px;

    
    position: absolute;
    top: calc(20% - 100px);
    left: calc(10% - 100px);
   
    height: 300px;
    pointer-events: none;
    
    
}
.sun img{
    width: 250px;
    box-shadow: 0 0 12em 1em rgba(251, 141, 31, 0.329);
    height: 250px;
    border-radius: 50%;
    animation: spin 200s linear infinite;
    
  
}

@keyframes spin {
to{
    transform: rotateZ(360deg);
}
}
#clock{
    color: white;
    font-size: 4rem;
    position: absolute;
    right: 0;
    bottom: 0;
}